/* Index styles only */

.home-info img {  
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.cta-home {
    text-align: center;
    display: flex;
    gap: 20px;
}

.cta-home a {
    margin: auto;
}

.cta-explore {
    background-color: #001433;
}

.cta-exhibitions {
    background-color: #5F0099;
}

.cta-visit {
    background-color: #EA0000;
}

.cta-getinvolved {
    background-color: #124600;
}