@font-face {
    font-family: "Orbitron";
    src: url(../Fonts/Orbitron/Orbitron-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "Ubuntu";
    src: url(../Fonts/Ubuntu/Ubuntu-Regular.ttf) format(truetype);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-logo {
    max-width: 200px;
}

footer {
    padding: 20px;
    text-align: center;
}

h1,
h2,
h3,
nav,
.cta, 
footer{
    font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;
}


p {
    font-family: "Ubuntu", Verdana, Geneva, Tahoma, sans-serif;
}


header, 
footer,
a {
    background: #001433;
    color: #FFF;
}
