/* Global styles */

@import url(imports/variables.css);
@font-face {
    font-family: "Orbitron";
    src: url(../Fonts/Orbitron/Orbitron-Regular.ttf) format(truetype);
}
@font-face {
    font-family: "Ubuntu";
    src: url(../Fonts/Ubuntu/Ubuntu-Regular.ttf) format(truetype);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    position: sticky;
    top: 0;
}

.header-logo {
    max-width: 200px;
}

footer {
    padding: 20px;
    text-align: center;
}

h1,
h2,
h3,
nav,
.cta, 
footer{
    font-family: var(--text-header-cta-nav-footer), Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}

p {
    font-family: var(--text-p), Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

header, 
footer,
a {
    background: var(--color-header-footer);
    color: var(--text-color);
}

nav {
    background: var(--color-header-footer);
    display: none;
    position: fixed;
    right: 0px;
    top: 60px;
}

nav li {
    display: inline-block;
    padding: 10px;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked  ~ nav {
    display: block;
}

.current {
    text-decoration: underline;
}

.cta {
    padding: 10px;
    border-radius: 5px;
}

.home,
.explore,
.exhibitions,
.visit,
.get-involved {
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info {
    max-width: 1000px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.home-news,
.explore-info,
.exhibitions-info,
.get-involved__info {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.explore-info div,
.exhibitions-info div,
.visit-info div,
.get-involved__info div {
    flex: 1;
}

/* Cover images */
.home-info-image img,
.explore-image img,
.exhibitions-image img, 
.visit-image img,
.get-involved-image img {
    width: 700px;
    height: 150px;
    object-fit: cover;
}

/* Small pictures*/
.home-news img,
.explore-info img,
.exhibitions-info img,
.visit-info img,
.get-involved__info img,
.visit-info img {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    padding-top: 25px;
}